---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="px-6 py-8">
    <div class="flex flex-col items-start gap-4">
      <p class="my-0">
        © Copyright {currentYear}, Okuto Oyama
      </p>
      <p class="my-0">
        Source : 
        <a
          href="https://github.com/yamanoku/react-tokyo-fes-2026"
          class="hover:transition-colors duration-200 rounded"
        >
          yamanoku/react-tokyo-fes-2026
        </a>
      </p>
    </div>
  </div>
</footer>
