---
---

<header>
  <div class="p-6">
    <a
      href="/"
      class="inline-flex items-center gap-2 rounded no-underline hover:underline"
    >
      <span>
        Accessible React UI
      </span>
      <svg role="img" class="w-6 h-6 rounded" viewBox="0 0 1000 1000">
        <title>Accessible React UI ロゴ</title>
        <rect width="1000" height="1000" class="fill-accent" />
        <defs>
          <clipPath id="baseline-clip">
            <rect x="0" y="0" width="1000" height="700" />
          </clipPath>
        </defs>
        <g transform="translate(-50, 60)" clip-path="url(#baseline-clip)" fill="none" stroke="#f8f9f5" stroke-width="70" stroke-linecap="butt" stroke-linejoin="round">
          <path d="M 200 750 L 350 250 L 500 750" />
          <path d="
            M 350 250 
            L 540 250 
            A 110 110 0 0 1 650 360 
            L 650 535 
            A 110 110 0 0 0 870 535 
            L 870 195
          " />
          <path d="M 240 520 L 650 520" />
        </g>
      </svg>
    </a>
  </div>
</header>